<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <h1>Update ToDo nimekirja</h1>
    <form action="#" th:action="@{/update/{id}(id=${user.id})}" th:object="${user}" method="post">
    <label for="subName">Aine</S></label>
    <input type="text" name="subName" id="name" th:field="*{subName}">
    <span th:if="${#fields.hasErrors('subName')}" th:errors="*{subName}"></span><br/>
    <label for="desc">Ülesanne</label>
    <input type="text" name="desc" id="desc" th:field="*{desc}">
    <span th:if="${#fields.hasErrors('desc')}" th:errors="*{desc}"></span><br/>
    <button type="submit">Muuda ülesannet</button>
    </form>
</body>
</html>